.search-filter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: transparent;
  padding: 0 20px 20px;
  background-color: #fff;
  justify-content: flex-start;
  margin-top: 20px;
  gap: 5px;
}

.OutlinedInput {
  height: 38px;
}